on:
  workflow_call:
    inputs:
      wrapper:
        required: true
        type: string
      doxygen:
        required: true
        type: string
      version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    
    - uses: actions/checkout@v6

    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          10.x

    - name: Restore Tools
      run: >
        dotnet tool restore

    - name: Insert Wrapper
      shell: bash
      run: |
        wget https://github.com/demaconsulting/DotnetToolWrapper/releases/download/${{ inputs.wrapper }}/manifest.spdx.json
        wget https://github.com/demaconsulting/DotnetToolWrapper/releases/download/${{ inputs.wrapper }}/DotnetToolWrapper.zip
        unzip -o DotnetToolWrapper.zip -d DotnetToolWrapper
        cp DotnetToolWrapper/net8.0/*.* pack/tools/net8.0/any
        cp DotnetToolWrapper/net9.0/*.* pack/tools/net9.0/any
        cp DotnetToolWrapper/net10.0/*.* pack/tools/net10.0/any

    - name: Insert Doxygen win-x64
      shell: bash
      run: |
        DOX=${{ inputs.doxygen }}
        DOXU=${DOX//./_}
        wget https://github.com/doxygen/doxygen/releases/download/Release_${DOXU}/doxygen-${{ inputs.doxygen }}.windows.x64.bin.zip -O doxygen-win-x64.zip
        mkdir doxygen-win-x64
        unzip doxygen-win-x64.zip -d doxygen-win-x64
        mkdir pack/win-x64
        cp doxygen-win-x64/doxygen.exe pack/win-x64
        cp doxygen-win-x64/libclang.dll pack/win-x64

    - name: Insert Doxygen linux-x64
      shell: bash
      run: |
        DOX=${{ inputs.doxygen }}
        DOXU=${DOX//./_}
        wget https://github.com/doxygen/doxygen/releases/download/Release_${DOXU}/doxygen-${{ inputs.doxygen }}.linux.bin.tar.gz -O doxygen-linux-x64.tar.gz
        mkdir doxygen-linux-x64
        tar -xzvf doxygen-linux-x64.tar.gz -C doxygen-linux-x64
        mkdir pack/linux-x64
        cp doxygen-linux-x64/*/bin/doxygen pack/linux-x64
        mkdir pack/docs
        cp doxygen-linux-x64/*/LICENSE pack/docs
        cp doxygen-linux-x64/*/VERSION pack/docs
        cp doxygen-linux-x64/*/*.pdf pack/docs

    - name: Generate SBOM
      run: >
        dotnet sbom-tool generate
        -b pack
        -pn DemaConsulting.DoxygenTool
        -pv ${{ inputs.version }}
        -ps DemaConsulting
        -nsb https://DemaConsulting.com/DoxygenTool
        -li true
        -pm true

    - name: Enhance SBOM
      shell: bash
      run: |
        DOX=${{ inputs.doxygen }}
        DOXU=${DOX//./_}
        
        dotnet spdx-tool run-workflow spdx-workflow.yaml doxygen-version=${{ inputs.doxygen }} doxygen-version_tag=${DOXU}

    - name: Create Dotnet Tool
      run: |
        cd pack
        dotnet pack DemaConsulting.DoxygenTool.csproj -p:Version=${{ inputs.version }} -o .

    - name: Upload Artifacts
      uses: actions/upload-artifact@v6
      with:
        name: build-artifacts
        path: |
          pack/*.nupkg
          pack/_manifest/spdx_2.2/*.*

  test:
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    needs: build
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        dotnet: ['8.x', '9.x', '10.x']
    steps:
    
    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ matrix.dotnet }}

    - name: Download Artifacts
      uses: actions/download-artifact@v5
      with:
        name: build-artifacts
        path: build-artifacts

    - name: Create test directory
      shell: bash
      run: mkdir test-dir

    - name: Create tool manifest
      shell: bash
      run: |
        cd test-dir
        dotnet new tool-manifest

    - name: Install DoxygenTool
      shell: bash
      run: |
        cd test-dir
        dotnet tool install DemaConsulting.DoxygenTool --add-source ../build-artifacts --version ${{ inputs.version }}

    - name: Run doxygen --help
      shell: bash
      run: |
        cd test-dir
        dotnet tool run doxygen -- --help

    - name: Verify doxygen version
      shell: bash
      run: |
        cd test-dir
        dotnet tool run doxygen -- --version
    